body {
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
}
a:visited {
	color: inherit;
}
.previewImage {
	height: 100px;
	margin: 0.25em 0.25em;
	position: relative;
	transform-origin: center;
	transition: transform 0.25s, box-shadow 0.25s;
	z-index: 1000;
}
.previewImage:hover {
	box-shadow: black 0 0 5px;
	transform: scale(2.5);
	z-index: 1001;
}
