body {
	font-family: CNN;
}
#filtersDefs{
	position:absolute;
	left:-10000px;
}
.leaflet-tile img{
	width:259.6px !important;
	height:259.6px !important;
}
.leaflet-overlay-pane {
	filter:url(#dropshadow);
}
.leaflet-control-container .leaflet-bottom.leaflet-left {
	display: none;
}
.leaflet-control-attribution {
	display:none;
}
.leaflet-control-zoom {
	top: 75px;
}