body {
	font-family: CNN;
}
#filtersDefs{
	position:absolute;
	left:-10000px;
}
.leaflet-tile img {
	transform: scale(1.006) !important;
	transform-origin: center !important;
}
.leaflet-overlay-pane {
	filter:url(#dropshadow);
}
.leaflet-control-container .leaflet-bottom.leaflet-left {
	display: none;
}
.leaflet-control-attribution {
	display:none;
}
.hasBanner .leaflet-control-zoom {
	left: 10px;
	top: 75px;
}